
<section class="main">
  <app-form (emmiter)="getCityName($event)"></app-form>
  <section class="weather">
    <!-- deg -->
   <h2 style="text-align: center;color: white;font-size: 2rem;">{{cityName}}</h2>
    <div style="display: flex;justify-content: center;align-items: flex-start;padding: 1.5rem 0;">
      <div style="height: 2.6rem; display: flex;justify-content: center;align-items: flex-start;">
        <span class="number">{{current.temp}}</span>
  
      </div>
      <div style="height: 2.6rem;display: flex;justify-content: center;align-items: flex-start;">
        <span class="deg">o</span>
  
      </div>
      <div style="height: 2.6rem;display: flex;justify-content: center;align-items: flex-start;">
        <span class="deg-centi">c</span>
  
      </div>
    </div>
    <!-- deg -->
    <!-- icon -->
    <div class="text-center">
      <img  src="assets/Images/{{current.img}}" class="weather-main-icon" alt="weather">
    </div>
    <!-- icon -->
    <div class="back-blure">
  
      <table class="table table-borderless text-center" dir="rtl">
        <thead>
          <tr>
            <th scope="col">+3 ساعت</th>
            <th scope="col">+6 ساعت </th>
            <th scope="col">+9 ساعت</th>
            <th scope="col">+12 ساعت</th>
          </tr>
        </thead>
        <tbody>
          <tr >


            <!-- th -->
            <th *ngFor="let item of fiveDays">
              <div style="display: flex;justify-content: center;align-items: flex-start;padding: .5rem 0;">
                <div style="height: 1rem;display: flex;justify-content: center;align-items: flex-start;">
                  <span style="font-size: .7rem;">o</span>
  
                </div>
                <div style="height: 1rem; display: flex;justify-content: center;align-items: flex-start;">
                  <span style="font-size: 1rem;">{{item.temp}}</span>
  
                </div>
              
              </div>
            </th>
              <!-- th -->
           
          </tr>
          <tr style="" >
            <th *ngFor="let item of fiveDays"><img src="assets/Images/{{item.img}}" style="padding: .2rem;width: 2.4rem;background-color: rgba(0, 0, 0, 0.116);border-radius: 50px; " alt="">
            </th>
            
          </tr>
  
        </tbody>
      </table>
    </div>
  </section>
  
</section>