<section class="weather">
  <!-- deg -->
  <div style="display: flex;justify-content: center;align-items: flex-start;padding: 1.5rem 0;">
    <div style="height: 2.6rem; display: flex;justify-content: center;align-items: flex-start;">
      <span class="number">19</span>

    </div>
    <div style="height: 2.6rem;display: flex;justify-content: center;align-items: flex-start;">
      <span class="deg">o</span>

    </div>
    <div style="height: 2.6rem;display: flex;justify-content: center;align-items: flex-start;">
      <span class="deg-centi">c</span>

    </div>
  </div>
  <!-- deg -->
  <!-- icon -->
  <div class="text-center">
    <img src="assets/Images/2682849_cloud_cloudy_day_forecast_sun_icon.png" class="weather-main-icon" alt="weather">
  </div>
  <!-- icon -->
  <div class="back-blure">

    <table class="table table-borderless text-center">
      <thead>
        <tr>
          <th scope="col">سه شنبه</th>
          <th scope="col">دو شنبه</th>
          <th scope="col">یک شنبه </th>
          <th scope="col">شنبه</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!-- th -->
          <th>
            <div style="display: flex;justify-content: center;align-items: flex-start;padding: .5rem 0;">
              <div style="height: 1rem; display: flex;justify-content: center;align-items: flex-start;">
                <span style="font-size: 1rem;">19</span>

              </div>
              <div style="height: 1rem;display: flex;justify-content: center;align-items: flex-start;">
                <span style="font-size: .7rem;">o</span>

              </div>
            
            </div>
          </th>
            <!-- th -->
          <!-- th -->
          <th>
            <div style="display: flex;justify-content: center;align-items: flex-start;padding: .5rem 0;">
              <div style="height: 1rem; display: flex;justify-content: center;align-items: flex-start;">
                <span style="font-size: 1rem;">21</span>

              </div>
              <div style="height: 1rem;display: flex;justify-content: center;align-items: flex-start;">
                <span style="font-size: .7rem;">o</span>

              </div>
            
            </div>
          </th>
            <!-- th --> <!-- th -->
          <th>
            <div style="display: flex;justify-content: center;align-items: flex-start;padding: .5rem 0;">
              <div style="height: 1rem; display: flex;justify-content: center;align-items: flex-start;">
                <span style="font-size: 1rem;">14</span>

              </div>
              <div style="height: 1rem;display: flex;justify-content: center;align-items: flex-start;">
                <span style="font-size: .7rem;">o</span>

              </div>
            
            </div>
          </th>
            <!-- th --> <!-- th -->
          <th>
            <div style="display: flex;justify-content: center;align-items: flex-start;padding: .5rem 0;">
              <div style="height: 1rem; display: flex;justify-content: center;align-items: flex-start;">
                <span style="font-size: 1rem;">12</span>

              </div>
              <div style="height: 1rem;display: flex;justify-content: center;align-items: flex-start;">
                <span style="font-size: .7rem;">o</span>

              </div>
            
            </div>
          </th>
            <!-- th -->
        </tr>
        <tr>
          <th><img src="assets/Images/2682813_cloud_clouds_cloudy_fog_forecast_icon.png" style="width: 2rem;" alt="">
          </th>
          <td><img src="assets/Images/2682849_cloud_cloudy_day_forecast_sun_icon.png" style="width: 2rem;" alt=""></td>
          <td><img src="assets/Images/2682813_cloud_clouds_cloudy_fog_forecast_icon.png" style="width: 2rem;" alt="">
          </td>
          <td><img src="assets/Images/2682849_cloud_cloudy_day_forecast_sun_icon.png" style="width: 2rem;" alt=""></td>
        </tr>

      </tbody>
    </table>
  </div>
</section>